{
  "name": "MqttBroker",
  "host": "localhost",
  "description": "Demo MQTT Broker",
  "meta": {
    "serviceType": "_mqtt._tcp",
    "apiVersion": "3.1"
  },
  "ttl": 10,
  "protocols": [
    {
      "type": "MQTT",
      "endpoint": {
        "url": "tcp://localhost:1883"
      },
      "methods": [
        "PUB",
        "SUB"
      ],
      "content-types": []
    }
  ],
  "representation": {}
}